.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    /* align-items: center; */
}

.item {
    /* text-align: center; */
    flex-basis: auto;
    -ms-flex-preferred-size: auto;
}

.hero-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.info-container {
    background-color: steelblue;
}

.profile-item {
    text-align: center;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    background-color: steelblue;
    min-width: 300px;
    min-height: 500px;
}

.description-item {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    background-color: steelblue;
    min-height: 500px;
    /* as a container */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.description-item h1:nth-child(1),
#table-description {
    margin-top: 50px;
}

#profile {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 0;
}

.contact-icon {
    margin: 0 10px;
}

.works-container {
    /* text-align: center; */
    background-color: #f1f1f1;
    /* background-color: rgb(255, 252, 177); */
}

.section-title {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.section-title,
.works-item h1 {
    text-align: center;
}

.works-item {
    width: 480px;
    border: 2px solid rgb(0, 0, 0, 0.2);
    margin-bottom: 40px;
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.works-img {
    width: 480px;
    height: 320px;
}

.interests-container {
    max-width: 1000px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.interests-subtitle {
    text-align: center;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.interests-item {
    margin-bottom: 20px;
    margin-right: 20px;
}

.interests-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.interests-item h3 {
    text-align: center;
}

.footer-container {
    text-align: center;
}

@media (min-width: 501px) {
    .hero-container {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0.3))), url('../images/hero-image-tiny.jpg');
        background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.3) 100%), url('../images/hero-image-tiny.jpg');
        background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.3) 100%), url('../images/hero-image-tiny.jpg');
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.3) 100%), url('../images/hero-image-tiny.jpg');
    }
}

@media (max-width: 500px) {
    .hero-container {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0.3))), url('../images/hero-image-mobile.jpg');
        background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.3) 100%), url('../images/hero-image-mobile.jpg');
        background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.3) 100%), url('../images/hero-image-mobile.jpg');
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.3) 100%), url('../images/hero-image-mobile.jpg');
    }
}

@media only screen and (max-width: 750px) {
    .hero-container {
        background-attachment: scroll;
    }
    .description-item {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-height: 750px) and (orientation:landscape) {
    .hero-container {
        height: 512px;
    }
}

@media only screen and (max-width: 500px) {
    .works-img {
        width: 350px;
        height: 240px;
    }
    .works-item {
        width: 350px;
        border: 2px solid rgb(0, 0, 0, 0.2);
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 350px) {
    .works-img {
        width: 300px;
        height: 200px;
    }
    .works-item {
        width: 300px;
        border: 2px solid rgb(0, 0, 0, 0.2);
        margin-bottom: 30px;
    }
}