body {
    margin: 0;
    font-family: 'Noto Sans TC';
}

.hero-container {
    width: 100vw;
    height: 100vh;
    color: white;
    text-align: center;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.3) 100%), url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-container h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.2em;
}

.hero-container h2 {
    margin-bottom: 0.2em;
}

.hero-container .btn {
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border: 2px solid rgba(82, 84, 224, 0.822);
    background-color: rgba(82, 84, 224, 0.822);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.hero-container .btn:hover {
    border: 2px solid #6E6E6E;
    color: #6E6E6E;
    background-color: #FCE8CC;
}

#hero-comment {
    position: absolute;
    right: 0;
    bottom: 0;
}