body {
    margin: 0;
    font-family: 'Noto Sans TC';
}

p {
    font-family: 'Noto Sans TC';
}

a {
    text-decoration: none;
}

.hero-container {
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-container h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.2em;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
}

.hero-container h2 {
    margin-bottom: 0.2em;
}

#hero-comment {
    position: absolute;
    right: 0;
    bottom: 0;
}

#profile {
    border-radius: 50%;
}

#profile-name {
    font-size: 2em;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-icon {
    color: #fff;
    opacity: 0.8;
}

.contact-icon :hover {
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#text-description {
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#table-description {
    display: none;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #fefefe;
}

tr:nth-child(1) {
    background-color: #252525;
    color:#fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover{
    opacity: 0.6;
}

#read-more-btn {
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: steelblue;
    color: black;
    border: 2px solid #000;
    /* border-radius: 32px; */
}

#read-more-btn:hover {
    background-color: #fff;
    color: #000;
}

.section-title h1 {
    font-size: 40px;
}

.works-container {
    /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.3) 100%), url('../images/works-bg.jpg');
     */
    /* background-image: url('../images/works-bg.jpg'); */
    background-attachment: fixed;
}

.works-item a {
    color: #000;
}

.interests-outer-container {
    background-color: #7DB89C;
}

.interests-img {
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

.interests-img :hover {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    /* transform:scale(1.5); */
}

.footer-container {
    color: rgb(230, 230, 230);
    background-color: #5D5958;
}

.footer-item h3 {
    font-weight: 500;
}

.footer-item h5 {
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    #hero-comment {
        opacity: 0.5;
    }
}